<div class="container">
  <div class="d-flex justify-content-between my-4">
    <div class="card mx-4 shadow p-1 mb-5 bg-white rounded" style="width: 18rem;">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" class="card-img-top" style="height: 13rem;" alt="engineer image">
      <div class="card-body text-center">
        <input class="form-check-input" type="radio" name="job" id="engineer" value="option2">
        <label class="form-check-label justify-content-center" for="engineer">
          Engineer
        </label>
      </div>
    </div>

    <div class="card mx-4 shadow p-1 mb-5 bg-white rounded" style="width: 18rem;">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" class="card-img-top" style="height: 13rem;"
          alt="designer image">
      <div class="card-body text-center">
        <input class="form-check-input" type="radio" name="job" id="designer" value="option2">
        <label class="form-check-label justify-content-center" for="designer">
          Designer
        </label>
      </div>
    </div>

    <div class="card mx-4 shadow p-1 mb-5 bg-white rounded" style="width: 18rem;">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" class="card-img-top" style="height: 13rem;"
          alt="entrepreneur image">
      <div class="card-body text-center">
        <input class="form-check-input" type="radio" name="job" id="entrepreneur" value="option2">
        <label class="form-check-label justify-content-center" for="entrepreneur">
          Entrepreneur
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex m-3 ml-4">
  <button type="submit" class="btn btn-primary align-self-start">Generate Talk-Shit</button>
  <div class="form-group mx-2 flex-grow-1">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>